[package]
name = "rpc-perf"
description = "RPC Performance Testing"
version = "5.6.1-alpha.0"
authors = ["Brian Martin <brian@iop.systems>"]
edition = "2021"
homepage = "https://github.com/iopsystems/rpc-perf"
repository = "https://github.com/iopsystems/rpc-perf"
license = "MIT OR Apache-2.0"

[dependencies]
ahash = "0.8.3"
async-channel = "1.9.0"
backtrace = "0.3.69"
boring = { version = "3.1.0", optional = true }
boring-sys = { version = "3.1.0", optional = true }
bytes = "1.5.0"
chrono = "0.4.31"
clap = "4.4.6"
foreign-types-shared = "0.3.1"
futures = "0.3.28"
http-body-util = "0.1.0-rc.3"
histogram = "0.10.0"
humantime = "2.1.0"
hyper = { version = "1.0.0-rc.4", features = ["http1", "http2", "client"]}
metriken = "0.6.0"
metriken-exposition = { version = "0.5.0", features = ["json", "parquet-conversion"] }
mio = "0.8.8"
momento = "0.32.1"
pelikan-net = { version = "0.2.0", default-features = false }
once_cell = "1.18.0"
openssl = { version = "0.10.64", optional = true }
openssl-sys = { version = "0.9.102", optional = true }
paste = "1.0.14"
protocol-memcache = { git = "https://github.com/pelikan-io/pelikan" }
protocol-ping = { git = "https://github.com/pelikan-io/pelikan" }
rand = "0.8.5"
rand_distr = "0.4.3"
rand_xoshiro = "0.6.0"
ratelimit = "0.9.0"
redis = { version = "0.23.3", features = ["tokio-comp"] }
rdkafka = { version = "0.34.0", features = ["cmake-build"] }
ringlog = "0.5.0"
serde = { version = "1.0.185", features = ["derive"] }
session = { git = "https://github.com/pelikan-io/pelikan" }
sha2 = "0.10.8"
slab = "0.4.9"
tempfile = "3.10.1"
tokio = { version = "1.33.0", features = ["full"] }
tokio-boring = { version = "3.1.0", optional = true }
tokio-openssl = { version = "0.6.4", optional = true }
toml = "0.8.2"
warp = "0.3.6"
zipf = "7.0.1"

[features]
default = ["openssl"]
boringssl = ["dep:boring", "boring-sys", "tokio-boring", "pelikan-net/boringssl"]
openssl = ["dep:openssl", "openssl-sys", "openssl/vendored", "tokio-openssl", "pelikan-net/openssl"]

[profile.release]
opt-level = 3
debug = true
rpath = false
lto = true
debug-assertions = false
codegen-units = 1

[profile.bench]
opt-level = 3
debug = true
rpath = false
lto = true
debug-assertions = false
codegen-units = 1

[profile.dev]
debug = true
opt-level = 0
