[package]
name = "rpc-perf"
version = "5.0.0-alpha.0"
authors = ["Brian Martin <brian@iop.systems>"]
edition = "2021"
description = "RPC Performance Testing"
homepage = "https://github.com/iopsystems/rpc-perf"
repository = "https://github.com/iopsystems/rpc-perf"
license = "MIT OR Apache-2.0"

[dependencies]
ahash = "0.8.3"
async-channel = "1.8.0"
backtrace = "0.3.67"
boring = "2.1.0"
boring-sys = "2.1.0"
bytes = "1.2.1"
clap = "4.1.6"
clocksource = "0.6.0"
foreign-types-shared = "0.3.1"
futures = "0.3.28"
http-body-util = "0.1.0-rc.2"
hyper = { version = "1.0.0-rc.3", features = ["http1", "http2", "client"]}
humantime = "2.1.0"
momento = "0.30.0"
metriken = "0.1.4"
mio = "0.8.5"
net = { git = "https://github.com/pelikan-io/pelikan" }
paste = "1.0.12"
protocol-memcache = { git = "https://github.com/pelikan-io/pelikan" }
protocol-ping = { git = "https://github.com/pelikan-io/pelikan" }
rand = "0.8.5"
rand_distr = "0.4.3"
rand_xoshiro = "0.6.0"
ratelimit = "0.7.0"
redis = { version = "0.22.3", features = ["tokio-comp"] }
ringlog = "0.1.1"
serde = "1.0.144"
serde_json = "1.0.94"
session = { git = "https://github.com/pelikan-io/pelikan" }
slab = "0.4.8"
tokio = { version = "1.21.2", features = ["full"] }
tokio-boring = "2.1.5"
toml = "0.7.2"
zipf = "7.0.0"
warp = "0.3.4"

[profile.release]
opt-level = 3
debug = true
rpath = false
lto = true
debug-assertions = false
codegen-units = 1

[profile.bench]
opt-level = 3
debug = true
rpath = false
lto = true
debug-assertions = false
codegen-units = 1

[profile.dev]
debug = true
opt-level = 0
