Source: rpc-perf
Section: devel
Priority: optional
Maintainer: IOP Systems <team@iop.systems>
Build-Depends: build-essential, debhelper (>= 10), jq

Package: rpc-perf
Architecture: any
Description: RPC Performance Testing
Depends: ${shlibs:Depends}, ${misc:Depends}
