Source: rpc-perf
Section: devel
Priority: optional
Maintainer: IOP Systems <team@iop.systems>
Standards-Version: 4.6.2
Build-Depends:
 debhelper (>= 10),
 jq,
 clang:native,
 libclang-dev,
 protobuf-compiler,
 cmake,
 libstdc++6
# Note the libstd++6 dependency is to pull in dependencies that are needed when
# identifying the shlib deps of the rpc-perf binary.

Package: rpc-perf
Architecture: any
Description: RPC Performance Testing
Depends: ${shlibs:Depends}, ${misc:Depends}
