# An example configuration for benchmarking Momento (https://www.gomomento.com)
# and demonstrating the use of the preview functionality for collections. Each
# command family is using its own keyspace and covers key-value, hash, list,
# set, and sorted set.

[general]
# specify the protocol to be used
protocol = "momento"
# the interval for stats integration and reporting
interval = 60
# the number of intervals to run the test for
duration = 300
# optionally, we can write some detailed stats to a file during the run
#json_output = "stats.json"
# run the admin thread with a HTTP listener at the address provided, this allows
# stats exposition via HTTP
admin = "127.0.0.1:9090"

[debug]
# choose from: error, warn, info, debug, trace
log_level = "info"
# optionally, log to the file below instead of standard out
# log_file = "rpc-perf.log"
# backup file name for use with log rotation
log_backup = "rpc-perf.log.old"
# trigger log rotation when the file grows beyond this size (in bytes). Set this
# option to '0' to disable log rotation.
log_max_size = 1073741824

[target]
# we don't need to specify any endpoints for momento
endpoints = []
# specify the name of the target cache
cache_name = "preview-cache"

[pubsub]
# the connect timeout in milliseconds
connect_timeout = 10000
publish_timeout = 1000
publisher_threads = 4
subscriber_threads = 4
publisher_poolsize = 1
publisher_concurrency = 20

[workload]
# the number of threads that will be used to generate requests
threads = 1
# the global ratelimit
ratelimit = 10

# An example set of topics using a low number of subscribers per topic.
[[workload.topics]]
# the weight relative to other workload components
weight = 1
# the total number of Momento clients for subscribers to this set of topics
subscriber_poolsize = 1
# the total number of gRPC sessions per Momento client for this set of topics
subscriber_concurrency = 2
# sets the number of topics
topics = 10
# set the length of the topic names, in bytes
topic_len = 64
# sets the value length, in bytes
message_len = 128

# An example set of topics using a high number of subscribers per topic.
[[workload.topics]]
# the weight relative to other workload components
weight = 1
# the total number of Momento clients for subscribers to this set of topics
subscriber_poolsize = 1
# the total number of gRPC sessions per Momento client for this set of topics
subscriber_concurrency = 20
# sets the number of topics
topics = 1
# set the length of the topic names, in bytes
topic_len = 32
# sets the value length, in bytes
message_len = 128
